
.highlighted-column-base {
  background-color: #5FBDFF; /* or any other color you prefer */
}

.highlighted-column-match {
  background-color: #96EFFF; /* or any other color you prefer */
}

.highlighted-column-match-not {
  background-color: #C5FFF8; /* or any other color you prefer */
}

.highlighted-column-one {
  background-color: #FE938C; /* or any other color you prefer */
}

.highlighted-column-two {
  background-color: #E6B89C; /* or any other color you prefer */
}

.highlighted-column-three {
  background-color: #EAD2AC; /* or any other color you prefer */
}

.highlighted-column-four {
  background-color: #9CAFB7; /* or any other color you prefer */
}

.highlighted-column-five {
  background-color: #4281A4; /* or any other color you prefer */
}