
.highlighted-column-base {
  background-color: #ffcccb; /* or any other color you prefer */
}

.highlighted-column-match {
  background-color: #d29b9a; /* or any other color you prefer */
}

.highlighted-column-match-not {
  background-color: #e5c4c4; /* or any other color you prefer */
}